@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 33px;
  color: hsl(0, 0%, 95%);
  padding-left: 35px;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 20px;
  padding: 35px;
}

button {
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  border-radius: 20px;
  border-width: 0;
  padding: 12px 25px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 35px;
  cursor: pointer;
}

#button-left {
  color: hsl(31, 77%, 52%);
}

#button-left:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

#button-center {
  color: hsl(184, 100%, 22%);
}

#button-center:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

#button-right {
  color: hsl(179, 100%, 13%);
}

#button-right:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

img {
  padding: 35px;
}

#main-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 750px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#left-container {
  background-color: hsl(31, 77%, 52%);
  width: 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#center-container {
  background-color: hsl(184, 100%, 22%);
  width: 250px;
}

#right-container {
  background-color: hsl(179, 100%, 13%);
  width: 250px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-link {
  margin-left: 20px;
}

/* RESPONSIVE MODE */

@media screen and (max-width: 720px) {
  #main-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 375px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
  }

  #left-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  #right-container {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
